{% extends 'base.html' %}
{% block title %} Agregar Comentario {% endblock %}
{% block content %}
{% if user.is_authenticated %}
<br>
<h1  style="font-family: 'Julius Sans One', sans-serif
">Agregar Nuevo Comentario</h1>
<hr>
<br>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button class="btn link-light" style="background-color: #2B3A55;">Comentar</button>
</div>
{% else %}
¡No tienes permiso para hacerlo! Inicia Sesión, Por favor :)
{% endif %}
{% endblock %}