{% extends 'base.html' %}
{% block title %} Editar Post{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <br>
        <h1  style="font-family: 'Julius Sans One', sans-serif;">Editar Post</h1>
        <hr>
        <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button class="btn link-light" style="background-color: #2B3A55;">Editar</button>
        </div>
    {% else %}
        ¡No tienes permiso para hacerlo!
    {% endif %}

{% else %}
¡No tienes permiso para hacerlo! Inicia Sesión, Por favor :)
{% endif %}
{% endblock %}